:root {
  font-family: 'Unna', 'Noto Serif TC', serif;
  font-size-adjust: 0.48;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  font-size-adjust: inherit;
}